numpy
git+https://github.com/jacazek/fasta_utils.git@main#egg=fasta_utils
git+https://github.com/jacazek/fasta_pytorch_utils.git@main#egg=fasta_pytorch_utils
git+https://github.com/jacazek/pytorch_dna2vec.git@main#egg=pytorch_dna2vec
transformers
torch
torchvision
torchaudio
datasets
reactivex
torchmetrics
torchinfo
mlflow
psutil
